.flex {
  display: flex;
}

.flex_direction_row {
  flex-direction: row;
}

.flex_direction_column {
  flex-direction: column;
}

.flex_direction_row-reverse {
  flex-direction: row-reverse;
}

.flex_direction_column-reverse {
  flex-direction: column-reverse;
}

.flex_align_center {
  align-items: center;
}

.flex_justify_center {
  justify-content: center;
}

.flex_justify_space-between {
  justify-content: space-between;
}

.flex_justify_space-around {
  justify-content: space-around;
}

.flex_wide {
  flex: 1;
}
