.header {
  background-color: rgb(39, 39, 39);
  position: sticky;
  top: 0;
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
}

.right {
  align-items: center;
  gap: 10px;
  height: 100%;
}

.buttons {
  gap: 5px;
}

.logo {
  transition: all 0.2s ease;
}

.logo:hover {
  filter: brightness(1.2);
}

.avatar {
  border-radius: 50%;
}

.profile {
  gap: 5px;
  align-items: center;
  cursor: pointer;
  padding: 0 7px;
  height: 100%;
}

.profile:hover {
  background-color: #2d2d2d;
}

.name {
  color: rgb(148, 148, 148);
  margin: 0;
}

@media (max-width: 550px) {
  .header {
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
  }
}
