.auth {
  width: 100%;
  height: 100%;
}

.wrapper {
  background-color: rgb(39, 39, 39);
  font-size: 14px;
  padding: 50px 40px;
  border-radius: 5px;
  border-top: 5px solid rgb(0, 186, 120);
  gap: 15px;
}

.header {
  gap: 5px;
}

.button {
  width: 100%;
}
