.search {
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: #2d2d2d;
  padding: 0 10px;
  height: 30px;
  color: #c2c2c2;
  box-sizing: border-box;
  font-size: 13px;
}

.search:focus {
  box-shadow: 0 0 0px 2px rgb(46, 97, 74);
}
