.button {
  color: #fff;
  position: absolute;
  border: none;
  background-color: transparent;
  outline: none;
  bottom: 0;
  right: 0;
  top: 0;
  height: 32px;
}

.wrapper {
  position: relative;
}

.image {
  background-image: url('../../shared/images/eye.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  filter: invert(0.7);
  transition: all 0.2s ease;
  cursor: pointer;
}

.image_view {
  background-image: url('../../shared/images/closedeye.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
  filter: invert(0.7);
  transition: all 0.2s ease;
  cursor: pointer;
}

.image:hover {
  filter: invert(1);
}

.image_view:hover {
  filter: invert(1);
}
